<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload and Push Data</title>
  </head>
  <body>
    <h2>Upload and Push Data</h2>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <p>
        {{ form.multiple_files.label }}<br />
        {{ form.multiple_files }}<br />
        {% for error in form.multiple_files.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.push_data() }}</p>
    </form>

    <!-- Logout form -->
    <form action="{{ url_for('logout') }}" method="post">
      <input type="submit" value="Logout" />
    </form>
  </body>
</html>
